@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

/* Firefox scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
}


body, *:not(code):not(pre):not(kbd):not(samp) {
    font-family: 'Open Sans', ui-sans-serif, system-ui, sans-serif !important;
}

code, pre, kbd, samp, code *, pre * {
    font-family: 'Source Code Pro', ui-monospace, monospace !important;
}
